In [1]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
load_dotenv()

True

In [3]:
tok1 = os.getenv("tok1")
tok2 = os.getenv("tok2")

In [4]:
# from pymongo import MongoClient
# client = MongoClient("")
from pymongo import MongoClient
client = MongoClient("mongodb://localhost/ironhack")
db = client.get_database()

In [37]:
filtro =   {'$and':[
        {'offices.country_code': {'$eq': "FIN"}},
        {'offices.city': {'$eq': 'Helsinki'}},
        {'founded_year': {'$gte': 2000}},
        {'name': {'$ne': None}},
        {'offices.latitude': {'$ne': None}},
        {'offices.longitude': {'$ne': None}},
        {'number_of_employees':{'$gt': 10, '$lt': 100}},
        {'category_code':{'$eq':"games_video"}}

        ]}
proyecto =  {'_id': 0, 'name' : 1, 'category_code' : 1, 'number_of_employees' : 1,
     'founded_year' : 1, 'offices.country_code': 1, 'offices.city': 1, 'offices.latitude' : 1, 'offices.longitude' : 1 }

result = db["companies"].find(filtro, proyecto)

In [38]:
data = json_normalize(data =result, record_path = 'offices', meta = ['name', 'category_code', 'number_of_employees', 'founded_year'])
data

<ipython-input-38-36361e7fe869>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = json_normalize(data =result, record_path = 'offices', meta = ['name', 'category_code', 'number_of_employees', 'founded_year'])

,city,country_code,latitude,longitude,name,category_code,number_of_employees,founded_year
0,Helsinki,FIN,60.171821,24.945167,Apaja,games_video,44,2001

In [41]:
data.to_csv("dataOK.csv", index=0)